org: bemmbos
service: bemmbos

plugins:
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs22.x
  region: us-east-1
  timeout: 29
  memorySize: 1024
  iam:
    role: arn:aws:iam::438511508379:role/LabRole

  environment:
    USER_TABLE: UserTable-${sls:stage}
    ORDERS_TABLE: OrdersTable-${sls:stage}
    ORDERS_BUCKET: restaurant-orders-dashboard-${sls:stage}
    MENU_TABLE: MenuTable-${sls:stage}
    MENU_BUCKET: menu-bucket-${sls:stage}
    JWT_SECRET: ${env:JWT_SECRET}
    ALLOWED_ORIGINS: ${env:ALLOWED_ORIGINS, '*'}
    CORS_ALLOW_CREDENTIALS: ${env:CORS_ALLOW_CREDENTIALS, 'false'}
    WS_STAGE: ${sls:stage}

functions:

  register:
    handler: auth/register.handler
    events:
      - http:
          path: auth/register
          method: post
          cors: true

  login:
    handler: auth/login.handler
    events:
      - http:
          path: auth/login
          method: post
          cors: true

  authorizer:
    handler: authorizer.handler

  ordersCreate:
    handler: orders/index.create
    events:
      - http:
          path: orders
          method: post
          cors: true
          authorizer:
            name: authorizer
            type: request
            identitySource: method.request.header.Authorization

  ordersList:
    handler: orders/index.list
    events:
      - http:
          path: orders
          method: get
          cors: true
          authorizer:
            name: authorizer
            type: request
            identitySource: method.request.header.Authorization

  ordersGet:
    handler: orders/index.get
    events:
      - http:
          path: orders/{id}
          method: get
          cors: true
          authorizer:
            name: authorizer
            type: request
            identitySource: method.request.header.Authorization

  ordersUpdateStatus:
    handler: orders/index.updateStatus
    events:
      - http:
          path: orders/{id}/status
          method: patch
          cors: true
          authorizer:
            name: authorizer
            type: request
            identitySource: method.request.header.Authorization

  adminCreateWorker:
    handler: admin/createWorker.handler
    events:
      - http:
          path: admin/workers
          method: post
          cors: true
          authorizer:
              name: authorizer
              type: request
              identitySource: method.request.header.Authorization

  adminCreateMenu:
    handler: admin/createMenu.handler
    events:
      - http:
          path: admin/menu
          method: post
          cors: true
          authorizer:
              name: authorizer
              type: request
              identitySource: method.request.header.Authorization

  adminUpdateMenu:
    handler: admin/updateMenu.handler
    events:
      - http:
          path: admin/menu
          method: patch
          cors: true
          authorizer:
              name: authorizer
              type: request
              identitySource: method.request.header.Authorization

  createKitchen:
    handler: kitchen/createKitchen.handler
    events:
      - http:
          path: kitchens
          method: post
          cors: true
          authorizer:
            name: authorizer
            type: request
            identitySource: method.request.header.Authorization

  listKitchens:
    handler: kitchen/listKitchens.handler
    events:
      - http:
          path: kitchens
          method: get
          cors: true
          authorizer:
            name: authorizer
            type: request
            identitySource: method.request.header.Authorization

  getMenu:
    handler: kitchen/getMenu.handler
    events:
      - http:
          path: menu
          method: get
          cors: true
          # authorizer:
          #     name: authorizer
          #     type: request
          #     identitySource: method.request.header.Authorization

resources:
  Resources:

    UserTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USER_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - { AttributeName: tenantId, AttributeType: S }
          - { AttributeName: userId, AttributeType: S }
          - { AttributeName: email, AttributeType: S }
          - { AttributeName: username, AttributeType: S }
          - { AttributeName: role, AttributeType: S }
        KeySchema:
          - { AttributeName: userId, KeyType: HASH }
          - { AttributeName: tenantId, KeyType: RANGE }
        GlobalSecondaryIndexes:
          - IndexName: EmailIndex
            KeySchema:
              - { AttributeName: email, KeyType: HASH }
              - { AttributeName: tenantId, KeyType: RANGE }
            Projection: { ProjectionType: ALL }
          - IndexName: UsernameIndex
            KeySchema:
              - { AttributeName: username, KeyType: HASH }
              - { AttributeName: tenantId, KeyType: RANGE }
            Projection: { ProjectionType: ALL }
          - IndexName: TenantRoleIndex
            KeySchema:
              - { AttributeName: tenantId, KeyType: HASH }
              - { AttributeName: role, KeyType: RANGE }
            Projection: { ProjectionType: ALL }

    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.ORDERS_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - { AttributeName: PK, AttributeType: S }
          - { AttributeName: SK, AttributeType: S }
        KeySchema:
          - { AttributeName: PK, KeyType: HASH }
          - { AttributeName: SK, KeyType: RANGE }

    OrdersBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.ORDERS_BUCKET}

    MenuTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.MENU_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - { AttributeName: tenantId, AttributeType: S }
          - { AttributeName: dishId, AttributeType: S }
        KeySchema:
          - { AttributeName: tenantId, KeyType: HASH }
          - { AttributeName: dishId, KeyType: RANGE }

    MenuBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.MENU_BUCKET}

    KitchenTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: KitchenTable-${sls:stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - { AttributeName: tenantId, AttributeType: S }
          - { AttributeName: kitchenId, AttributeType: S }
        KeySchema:
          - { AttributeName: tenantId, KeyType: HASH }
          - { AttributeName: kitchenId, KeyType: RANGE }